{{define "emailverify"}}
<div class="wrapper">
  <div class="row main-row">
   <div class="col-xs-15 col-md-8 col-lg-8 notication-col center-block">
	{{range .FlashError}}<div class="well well-notification  orange-notification">{{.}}</div>{{end}}
	{{range .FlashSuccess}}<div class="well well-notification green-notification">{{.}}</div>{{end}}
    </div>
    <div class="col-sm-12 col-md-10 col-lg-6 center-block">
	<h1>邮箱认证</h1>
	{{if .FlashSuccess}}
	<p><span style="font-size: larger;">你现在能 <a href="/signin">登入</a> 你的新邮箱.</span></p>
	{{end}}
   </div>
  </div>
</div>
{{end}}
