{{define "error"}}
<div class="wrapper">
    <div class="row sign-in-row">
    <div class="col-xs-15 col-md-8 col-lg-8 notication-col center-block">
       <div class="well well-notification  orange-notification">{{if .RateLimited}}
                        访问过于频繁
                {{end}}
                {{if not .RateLimited}}
                        {{if eq .RPCStatus "Running"}}临时{{end}} 错误
                {{end}}</div>
    </div>
    <div class="col-sm-15 col-md-6 text-left sign-in-col center-block">
    <h1>无法处理你的请求</h1>
	{{if .RateLimited}}
            <p>访问过于频繁
            {{if .Referer}}<a href="{{ .Referer }}">{{end}}请稍后再试{{if .Referer}}</a>{{end}}</p>
        {{end}}
        {{if not .RateLimited}}
	{{if eq .RPCStatus "Running"}}
           <p>RPC 更新失败.
         {{if .Referer}}<a href="{{ .Referer }}">{{end}}请稍后再试.{{if .Referer}}</a>{{end}}</p>
         {{end}}
         {{if eq .RPCStatus "Stopped"}}
            <p>矿池目前正在连接中<b>钱包仍然可用</b></p>
         {{end}}
         {{end}}
    </div>
    </div>
</div>
{{end}}
