{{define "home"}}
<div class="wrapper">
    <div class="row main-row">
 <div class="col-xs-15 col-md-8 col-lg-8 notication-col center-block">
    </div>
    <div class="col-sm-12 col-md-10 col-lg-8 center-block">
       <h1 class="text-center">Decred PoS 矿池介绍</h1>
       <p>第一个经官方授权的 decred PoS 矿池:)</p>
       <p>PoS 矿池是用来委派你的投票权利给矿池的第三方服务。PoS 矿池 <b>不能</b> 盗取你的资金.</p>
       <p>参与到 PoS 矿池对那些想参与到投票的人来说是最好的方式，但是由于以下几种原因而无法自己单独投票</p>
       <ul>
            <li>无法长期运行一个解锁的钱包账户</li>
            <li>无法维护一个高可用的网络</li>
       </ul>
       <hr>
       <ul>
         <li class="li-heading">Pos 矿池信息</li>
         <li>网络状态: {{.Network}}</li>
         <li>矿池手续费: {{.PoolFees}}%</li>
         <li>联系邮箱: <a href="mailto:{{.PoolEmail}}">{{.PoolEmail}}</a></li>
         <li>联系地址: <a href="{{.PoolLink}}" target="_blank">{{.PoolLink}}</a></li>
       </ul>
    </div>
    </div>
	{{if not .User}}
     <div class="row row-button">
      <div class="col-sm-15 col-md-6 center-block text-center">
        <a href="/signup" class="btn btn-primary" role="button">注册</a>
      </div>
    </div>
	{{end}}
</div>
{{end}}
